################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/SEOExperiment/bin
/SEOExperiment.Analyser/bin/Debug
/SEOExperiment.Analyser/obj/Debug
/SEOExperiment/obj/Debug
/.vs/SEOExperiment
